<template>
  <section class="main" v-if="hasTodos">
    <input
      type="checkbox"
      id="toggle-all"
      class="toggle-all"
      @change="toggleAll"
      :checked="allComplete"
    />
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list">
      <TodoListItem
        v-for="todo in visibleTodos"
        :todo="todo"
        :key="todo.key"
      />
    </ul>
  </section>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import TodoListItem from './todo-list-item'

  export default {
    name: 'TodoList',
    computed: mapGetters(['visibleTodos', 'hasTodos', 'allComplete']),
    methods: mapActions(['toggleAll']),
    components: {
      TodoListItem
    }
  }
</script>
