<template>
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      type="text"
      :value="newTask"
      @input="updateNewTask"
      @keyup.enter="addTodo"
      autofocus/>
  </header>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'TodoListHeader',
    computed: mapState(['newTask']),
    methods: mapMutations(['updateNewTask', 'addTodo'])
  }
</script>
