<template>
  <li :data-id="todo.id"
      :class="{ completed: todo.complete, editing: todo.editing }"
  >
    <div class="view">
      <input class="toggle"
             type="checkbox"
             @change="markTodoComplete(todo)"
             :checked="todo.complete"
      >
      <label @dblclick="enableEditing(todo)">{{ todo.task }}</label>
      <button @click="removeTodo(todo)" class="destroy"></button>
    </div>

    <input
      type="text"
      class="edit"
      v-if="todo.editing"
      @blur="disableEditing(todo)"
      @keyup.esc="disableEditing(todo)"
      @keyup.enter="updateTodo(todo, $event)"
      :value="todo.task"
      v-focus
    />
  </li>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'TodoListItem',
    props: ['todo'],
    methods: {
      ...mapMutations([
        'markTodoComplete',
        'removeTodo',
        'enableEditing',
        'disableEditing'
      ]),
      updateTodo (todo, event) {
        this.$store.commit('updateTodo', {todo, event})
      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    }
  }
</script>
