<template>
  <footer
    class="footer"
    v-if="hasTodos"
  >
    <span class="todo-count">{{ itemsLeft }}</span>
    <ul class="filters">
      <li>
        <router-link to="/">All</router-link>
      </li>
      <li>
        <router-link to="/active">Active</router-link>
      </li>
      <li>
        <router-link to="/completed">Completed</router-link>
      </li>
    </ul>
    <button
      class="clear-completed"
      v-if="hasCompletedTodos"
      @click="clearCompleted"
    >
      Clear completed
    </button>
  </footer>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'

  export default {
    name: 'TodoListFooter',
    computed: {
      itemsLeft () {
        const numLeft = this.$store.getters.activeTodos.length

        return `${numLeft} item${numLeft === 1 ? '' : 's'} left`
      },
      ...mapGetters([
        'hasCompletedTodos',
        'hasTodos',
        'todos',
        'newTask'
      ])
    },
    methods: mapMutations(['clearCompleted'])
  }
</script>
