<template>
  <section class="todoapp">
    <TodoListHeader/>
    <router-view/>
    <TodoListFooter/>
  </section>
</template>

<script>
  import TodoListHeader from '@/components/todo-list-header'
  import TodoListFooter from '@/components/todo-list-footer'

  export default {
    name: 'app',
    components: {
      TodoListHeader,
      TodoListFooter
    }
  }
</script>

<style>
  @import url("../node_modules/todomvc-common/base.css");
  @import url("../node_modules/todomvc-app-css/index.css");
</style>
